<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">

    <META NAME="KEYWORDS" CONTENT="">
    <META NAME="DESCRIPTION" CONTENT="">
    <META NAME="COPYRIGHT" CONTENT="">


    <link rel="stylesheet" href="new/css/reset.css"/>
	<link rel="stylesheet" href="new/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="new/slick/slick-theme.css"/>
	<link rel="stylesheet" href="new/css/style.css"/>

	<!--<script type="text/javascript" src="new/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="new/js/bootstrap.js"></script>-->

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src="vendor/mobile-detect.min.js" type="text/javascript"></script>

	<title> Crypto Payment Platform</title>
</head>
<body ng-app="app" ng-cloak ng-controller="MainController">
	<div class="container">
		<div class="ccore-header">
            <div class="content">
                <a href="#/home" class="ccore-header-logo">
                    <img src="new/images1/ccore.png" width="150">
                </a>
                <div class="ccore-header-menu">
                    <ul>
                        <li><a ng-href="{{WalletHref}}">cWallet Demo</a></li>
                        <li><a href="demo/demo-first.html" target="_blank">cPay Demo</a></li>
                        <!--<li ng-show="$root.isAuthenticated"><a style="cursor: pointer" ng-click="GoToICO()">ICO</a></li>-->
                    </ul>
                </div>
                <div class="ccore-header-buttons" style="visibility: hidden" ng-if="!$root.isAuthenticated">
                    <a href="#/login" class="ccore-header-buttons-button">Sign in</a>
                    <a href="#/register" class="ccore-header-buttons-button">Sign up</a>
                </div>
                <div ng-style="{'margin-left': $root.isAuthenticated ? '503px' : '15px'}" class="ccore-header-language">
                  <select id="languages" ng-options="option.name for option in Languages.availableLanguages track by option.id"
                          ng-model="Languages.selectedLanguage" ng-change="ChangeLanguage()">
                  </select>
                  <!--<span class="ccore-header-language-button-triangle"></span>-->

                  <!--<span class="ccore-header-language-button">EN <span class="ccore-header-language-button-triangle"></span> </span>-->
                </div>

                <div ng-show="$root.isAuthenticated" class="ccore-header-username">
                  <span class="ccore-header-language-button">{{$root.userData.username}} <span class="ccore-header-language-button-triangle"></span> </span>
                  <div class="ccore-header-personal_menu">
                    <a href=""><img src="new/images/settings-gray.png"/> Settings</a>
                    <hr>
                    <a href="" ng-click="logout()"><img src="new/images/logout-gray.png"/> Log out</a>
                  </div>
                </div>


                <div class="ccore-header-menu_button">
                    <span class="ccore-header-menu_button-button">
                        <img  id="ccore-header-menu_button-button-closed" src="new/images1/menu-icon.png" />
                        <img  id="ccore-header-menu_button-button-opened" src="new/images1/menu-icon-close.png" />
                    </span>
                </div>
            </div>
		</div>
		<div class="ccore-menu">
            <div class="content">
                <div class="ccore-menu-head">
                    <div class="ccore-header-logo">
                        <img src="new/images1/ccore.png" width="150">
                    </div>
                    <div class="ccore-header-buttons" style="visibility: hidden">
                        <a href="#/login" class="ccore-header-buttons-button">Sign in</a>
                        <a href="#/register" class="ccore-header-buttons-button">Sign up</a>
                    </div>
                    <div class="ccore-header-language">
                      <select id="languages" ng-options="option.name for option in Languages.availableLanguages track by option.id"
                              ng-model="Languages.selectedLanguage" ng-change="ChangeLanguage()">
                      </select>
                      <!--<span class="ccore-header-language-button-triangle"></span>-->
                    </div>
                    <div class="ccore-header-menu_button">
                        <span class="ccore-header-menu_button-button"><img src="new/images1/menu-icon-close.png" /></span>
                    </div>
                </div>

                <ul>
                </ul>

                <ul>
                    <li ng-if="$root.isAuthenticated"   class="small-screen"><a href="">{{$root.userData.username}}</a></li>
                    <hr>
                    <li   class="small-screen" ng-click="CloseMobileMenu()"><a href="#/wallet">cWallet Demo</a></li>
                    <hr>
                    <li   class="small-screen"><a href="demo/demo-first.html" target="_blank">cPay Demo</a></li>
                    <hr>
                    <li   class="ccore-header-menu-item-2"><a ng-href="{{Whitepaper}}" target="_blank">Whitepaper</a></li>
                    <hr>
                    <li   class="ccore-header-menu-item-2"><a style="cursor: pointer" ng-click="GoToTeam()">The team</a></li>
                    <hr>
                    <!--<li   class="ccore-header-menu-item-2"><a style="cursor: pointer" ng-click="GoToICO()">ICO</a></li>
                    <hr>-->
                    <!--<li   class="ccore-header-menu-item-2"><a ng-href="{{Benefits}}" target="_blank">Benefits</a></li>-->
                     <li  class="ccore-header-menu-item-2"><a style="cursor: pointer" ng-click="GoToRoadMap()">{{'ROADMAP' | i18n}}</a></li>
                    <hr>
                </ul>

                <p ng-if="$root.isAuthenticated"><a href=""> <img src="new/images/settings.png"/> Settings </a></p>
                <p ng-if="$root.isAuthenticated"><a href="" ng-click="logout()"> <img src="new/images/logout.png"/> Log out </a></p>

                <div ng-if="!$root.isAuthenticated" style="visibility: hidden" class="ccore-header-buttons-small text-center small-screen">
                    <a ng-click="CloseMobileMenu();" href="#/login" class="ccore-header-buttons-button">Sign in</a>
                    <a ng-click="CloseMobileMenu();" href="#/register" class="ccore-header-buttons-button">Sign up</a>
                </div>

            </div>
		</div>
		<div class="ccore-time">
            <div class="content">
                <h2>{{'HOME_TOKEN_SALES' | i18n}}</h2>
                <h4>{{'PRE_ICO_HEADER' | i18n}}</h4>
                <div class="ccore-time-counter">
                    <div class="ccore-time-counter-inner">
                        <p class="ccore-time-counter-inner-1">{{Deys}}</p>
                        <p class="ccore-time-counter-inner-2">{{'DAYS' | i18n}}</p>
                    </div>

                    <div class="ccore-time-counter-inner ccore-time-counter-inner-border">
                        <p class="ccore-time-counter-inner-1">{{Hours}}</p>
                        <p class="ccore-time-counter-inner-2">{{'Hours' | i18n}}</p>
                    </div>

                    <div class="ccore-time-counter-inner ccore-time-counter-inner-border">
                        <p class="ccore-time-counter-inner-1">{{Minutes}}</p>
                        <p class="ccore-time-counter-inner-2">{{'MINUTES' | i18n}}</p>
                    </div>

                    <div class="ccore-time-counter-inner ccore-time-counter-inner-border">
                        <p class="ccore-time-counter-inner-1">{{Seconds}}</p>
                        <p class="ccore-time-counter-inner-2">{{'SECONDS' | i18n}}</p>
                    </div>
                </div>
            </div>
		</div>
    <!--<div class="ccore-index-email">
      <div class="content">
        <h2> Subscribe To Our News Letter</h2>
        <h4>Enter your email address below for not missing the news of Ccore ICO</h4>
        <h4>Over 1000 subscribers already!</h4>
        <div class="ccore-email-box">
          <form name="form">
            <input type="email" ng-model="Email.text" placeholder="Enter Your Email Address"/>
            <button ng-click="AddEmail(form)">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>-->

    <div class="main-content">
      <div ui-view></div>
    </div>

	</div>
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="new/slick/slick.min.js"></script>
  <script type="text/javascript" src="new/js/main.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>-->
  <script src="vendor/d3/d3.min.js"></script>
  <script src="vendor/nv.d3.js"></script>
  <script src="vendor/angular-nvd3.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/services/lb-services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/auth.service.js"></script>
  <script src="js/core.js"></script>
  <script src="js/controllers/main-controller.js"></script>
  <script src="js/controllers/login.controller.js"></script>
  <script src="js/controllers/register.controller.js"></script>
  <script src="js/controllers/get-crypto-currencies.js"></script>
  <script src="js/controllers/home-controller.js"></script>
  <script src="js/controllers/ico-controller.js"></script>
  <script src="js/controllers/modules-controller.js"></script>
  <script src="js/controllers/static-page-controller.js"></script>
  <script src="js/controllers/wallet-controller.js"></script>

  <script type="text/javascript">

    var md = new MobileDetect(window.navigator.userAgent);

    /*if (!(md.mobile() || md.phone() || md.tablet()))
    {
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/599c6873b6e907673de08d7c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    }*/

  </script>

  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 835774426;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/835774426/?guid=ON&amp;script=0"/>
    </div>
  </noscript>
</body>
</html>
