
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
line-height: 1}
header, footer, section, nav, aside { display: block; }
html, body { width: 100%;}
body{
  font-family: Tahoma;
}
@font-face {
  font-family: ArialRounded;
  src: url(fonts/ARLRDBD.TTF);
}
@font-face {
  font-family: PtSans;
  src: url(fonts/PT-SANS.CAPTION.TTF);
}
/*HEADER PARTS*/
header{
  height: 60px;
  background: #0c2a31;
  border-bottom: 2px solid #16a6c4;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: ArialRounded;
}
.footer-column{width: 215px; float: left; text-align: left;
  padding-left: 55px; padding-top: 55px;
  font-size: 17px;
}
.footer-column a{color: white; text-decoration: none; display: block}
.footer-column a:hover{color: #0c2a31}
/*HEADER PARTS END*/
.main-content{width: 100%}

.logo{
  display: inline-block;
  margin: 15px 0 0 50px;
}
.content-header{
  height: 115px;
  line-height: 115px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #0b2e44;
}
.table-header{
  height: 115px;
  line-height: 115px;
  text-align: center;
  font-size: 20px;
  color: black;
}
/*.action-box{
  float: right;
  margin: 20px 55px 0 0;
}
.action-box-item{
  float: left;
  color: white;
  margin-left: 17px;
}
.action-box > div:not(:last-child){padding-right: 17px}*/
.action-box-item{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.action-box-item a{
  text-decoration: none;
  color: white;
}
.selected{background: #02a3d5}
div:not(.selected) > .action-box-item:hover{color: #16a6c4}
div:not(.selected) > .action-box-item:hover a{color: #16a6c4}

.langulage-opened-box{
  position: absolute; width: 100%; background: #02a3d5; top: 58px
}
.langulage-opened-item{
  height: 58px; color: white; text-align: center; line-height: 58px; cursor: pointer;
}
.langulage-opened-item:hover{color: #0c2a31}

.right-border{
  border-right: 1px solid #869598;
}
.language-select{
  background-color: #0c2a31;
  margin-top: -2px;
}
.language-select, .language-select:focus{
  border: none;
  outline: none;
}
.chart-container, .intro-container{float: left; border: 1px solid rgba(0, 0, 0, .5); height: 500px}
.chart-container{width: calc(100% - 270px); margin-right: 20px; position: relative}
.intro-container{width: 240px}
.index-content{padding: 60px 30px 0 30px; text-align: center}
.index-content h1{font-size: 20px}
.index-content p{text-align: left; padding: 10px 15px 10px 15px}
.clear{clear: both}
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
table{width: 100%; border-collapse: collapse;}
table tr{border-top: 1px solid black}
table tr td{padding: 10px 10px 10px 10px; vertical-align: middle}
table tr:first-child{font-weight: bold}
.table-blue-item{color: #428bca}

.table-green-item{color: #009933}
.table-red-item{color: red}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-on .form-control:focus {
  box-shadow:none;
  -webkit-box-shadow:none;
  border-color:#cccccc;
}
.add-on{
  width: 300px;
  float: right;
  margin-bottom: 10px;
}
.form-control{width:20%}
.input-group-btn > .btn{background: #187fa3!important;}
.input-group-btn > .btn .glyphicon {color: white}

/*home section*/
section.home .home-header-content{
  background: url("../images/home-header-bg.png") no-repeat;
  background-size: cover;
  height: 780px;
  overflow: auto;
  margin-top: 60px;
}

video{
  width: 900px;
  height: auto;
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.videoContainer{
  background: #e1eef2;
  width: 100%;
  height: 660px;
  overflow: hidden;

}

section.home .home-header-content > div{
  width: 505px;
  height: 625px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 78px;

}
section.home .home-header-content  div p:first-of-type{color: white; font-size: 80px; padding-top: 142px; font-weight: bold}
section.home .home-header-content  div p:last-of-type{color: #16a6c4; font-size: 52px; text-align: center; padding-top: 100px}
section.home p:first-of-type, section.home p:nth-of-type(3){text-align: center; color: #0aa6d6; font-size: 33px; padding: 100px 0 60px}
section.home p:nth-of-type(2), section.home p:nth-of-type(4), section.home p:nth-of-type(6){min-height: 110px; text-align: center; font-size: 20px}
section.home p:nth-of-type(3){padding-top: 0}
section.home p:nth-of-type(5){font-size: 60px; font-weight: bold; text-align: center; padding-bottom: 20px}
.quadro-box{
  width: 488px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.quadro-item{
  width: 50%;
  float: left;
  border: 1px solid black;
  height: 170px;
  font-size: 20px;
  color: #0aa6d6;
  text-align: center;
  white-space: pre;
  padding-top: 45px;
}
.quadro-center-box{
  width: 165px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  line-height: 60px;
  text-align: center;
  background: white;
  font-weight: bold;
  font-family: Pragmatica;
  font-size: 24px;
}
.news-data-box{
  margin-top: 70px;
  min-height: 375px;
  margin-bottom: 100px;
}
.news-data-box div.news-data-item:not(:last-of-type){border-right: 1px solid #cccccc}
.news-data-item{
  width: 25%;
  float: left;
  text-align: center;
  padding: 0px 30px 0 30px;
  height: 350px;
}
.news-data-box div.news-data-item:first-of-type .news-data-item-image{background: url("../images/cc-pay.png") no-repeat center center}
.news-data-box div.news-data-item:nth-of-type(2) .news-data-item-image{background: url("../images/cc-data.png") no-repeat center center}
.news-data-box div.news-data-item:nth-of-type(3) .news-data-item-image{background: url("../images/cc-news.png") no-repeat center center}
.news-data-box div.news-data-item:nth-of-type(4) .news-data-item-image{background: url("../images/cc-analytics.png") no-repeat center center}
.news-data-item-image{
  height: 50px;
}
.news-data-item-title{
  font-size: 24px;
  color: #16a6c4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news-data-item-info{font-size: 20px}
.white-paper-href{color: black}
.white-paper-href:hover{color: #0aa6d6}
.home-graph-box{background: #f4f4f4; padding-bottom: 110px; border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc}
.home-graph-content{
  /*background: url("../images/home-arrow-graph.png") no-repeat center center;*/
  background-size: contain;
  width: calc(100% - 100px);
  height: 626px;
  margin-right: auto;
  margin-left: auto;
}
.home-road-map-content{
  background-size: cover;
  background-color: #e6ecf0;
  width: 100%;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
}
.home-graph-footer{
  padding: 0px 160px 0px 160px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.home-graph-footer-item{
  float: left;
  width: 300px;
  height: 450px;
  background: white;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
.home-graph-footer-item h1{font-size: 22px; font-weight: bold; text-align: center}
.home-graph-footer-item > div{font-size: 19px; text-align: center; padding-left: 15px; padding-right: 15px}

.home-our-products{
  padding: 0px 160px 0px 160px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 80px;
}
.home-our-products-item{
  width: 300px;
  min-width: 300px;
  height: 450px;
  background: white;
  margin-right: 20px;
  text-align: center;
  position: relative;
}
.home-our-products-item > div:first-of-type{height: 190px; line-height: 190px; font-size: 49px; font-weight: bold; background: #102c35; color: white; white-space: nowrap}
.home-our-products-item > div:nth-of-type(2){background: #f4f4f4; font-size: 19px; height: 260px; padding-top: 20px; padding-left: 15px; padding-right: 15px}
.home-ico-box{
  background: #0c2a31;
}
.routing-box{
  position: relative;
  overflow: auto;
  width: 712px;
  height: 880px;
  margin-right: auto;
  margin-left: auto;
}
.routing-box-item{
  position: absolute;
  width: 296px;
  height: 144px;
  font-size: 18px;
  padding: 5px;
}
.routing-seporator{
  position: absolute;
  width: 25px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/routing.png") no-repeat;
}

.our-team{
  background: #f4f4f4;
  height: auto;
  padding-bottom: 100px;
}

/*FOOTER AREA*/
footer{
  height: 112px;
  background: #02a3d5;
  position: relative;
}
.footer-item{
  width: 52px;
  height: 52px;
  float: left;
  margin-left: 30px;
  margin-top: 31px;
}
footer span:first-of-type{display: inline-block; position: absolute; left: 50%; top: 50%; transform:  translate(-50%, -50%)}
footer span:nth-of-type(2){display: inline-block; position: absolute; top: 50%; transform:  translateY(-50%); right: 20px; line-height: normal; text-align: center; width: 400px; margin-right: 0px}
footer > div .footer-item:first-of-type{background: url("../images/footer/bitcointalk.png") no-repeat; margin-left: 50px;}
footer > div .footer-item:nth-of-type(2){background: url("../images/footer/Twitter.png") no-repeat;}
footer > div .footer-item:nth-of-type(3){background: url("../images/footer/Facebook.png") no-repeat;}
footer > div .footer-item:nth-of-type(4){background: url("../images/footer/Telegram.png") no-repeat;}
footer > div .footer-item:nth-of-type(5){background: url("../images/footer/Slack.png") no-repeat;}
footer span{font-size: 22px; color: white; font-weight: bold; line-height: 112px;
  display: inline-block;
  margin-right: 310px;
}
/*ICO PART*/
.ico-section{padding-top: 115px; overflow: hidden; position: relative}
.ico-header{text-align: center; font-size: 33px; font-weight: bold; color: #0c2a31}
.pre-ico-header{text-align: center; font-size: 20px; color: #b3b1ba; margin-top: 50px}
.ico-header-left-rate{font-size: 20px; color: #b3b1ba; white-space: pre-wrap; float: left}
.ico-header-left-rate span, .ico-header-right-rate span{color: #02a3d5}
.count-down{position: absolute; width: 480px; left: 50%; transform: translateX(-50%); top:220px}
.ico-header-right-rate{font-size: 20px; color: #b3b1ba; white-space: pre-wrap; float: right; margin-right: 30px}
.count-down-item{float: left; white-space: pre-wrap; text-align: center; font-weight: bold; color: #02a3d5; font-size: 36px}
.count-down-item span{color: #b3b1ba; font-size: 12px}
.ico-contribute-far{font-size: 20px; color: #b3b1ba; margin-top: 35px; text-align: center; font-weight: normal}
.ico-change-box{background: #e6ecf0; overflow: hidden; margin-top: 120px; padding-bottom: 75px}
.ico-info-box{float: left; padding-top: 30px; font-weight: bold}

.change-box{width: 600px; height: 480px; background: #0c2a31; float: right; margin-right: 30px; margin-top: 30px}
.change-box > div{margin-right: auto; margin-left: auto; width: calc(100% - 40px); height: 60px}
.change-box > div input{width: calc(100% - 100px); height: 100%; float: left; padding-left: 30px; font-size: 30px}
.change-box > div div{width: 100px; float: left; line-height: 60px; background: #02a3d5;
  color: white; font-weight: bold; font-size: 30px; text-align: center}
.change-box > p:first-of-type{color: white; font-size: 33px; text-align: center; padding-top: 50px; padding-bottom: 50px}
.change-box > p:nth-of-type(2){color: white; font-size: 28px; text-align: center; padding-top: 10px; padding-bottom: 10px}
.change-box > p:nth-of-type(2) > span{font-size: 25px; color: #02a3d5}
.change-box button{text-align: center; font-size: 30px; color: white; line-height: 70px; height: 70px; width: 265px;
margin-right: auto; margin-left: auto; background: #02a3d5; display: block}
.ico-second-box{position: relative}
.ico-second-box, .ico-third-box{width: calc(100% - 60px); margin-right: auto; margin-left: auto; background: #0c2a31;
height: 510px; margin-top: 125px; margin-bottom: 50px}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group-btn:last-child > .btn{z-index: 0}
.input-group .form-control{z-index: -1; position: static}
.ico-second-box > div:first-of-type {white-space: pre-wrap; font-size: 20px; text-align: center; color: white}
.ico-second-box > div:nth-of-type(2) > span:first-of-type{text-transform: uppercase}
.ico-second-box > div:nth-of-type(2){font-size: 20px; color: white; padding: 20px; max-height: 335px;  overflow-y: auto}
.ico-second-box > div:nth-of-type(3){font-size: 20px; color: white; padding: 20px; text-align: center; white-space: nowrap}

.ico-third-box{color: white; font-size: 20px; overflow: hidden;}
.ico-third-box > div:first-of-type{text-align: center; margin-top: 30px}
.ico-third-box > div:nth-of-type(2){text-align: left; margin-top: 30px; margin-left: 30px}
.ico-third-box > ul{margin-top: 30px; margin-left: 30px; font-size: 20px}
.ico-third-box > ul li{
  list-style-type: square;
  color: #02a3d5;
  padding: 5px;
}
.ico-third-box > ul li span{color: white}
.ico-third-box > div:nth-of-type(3){background: white; height: 130px; margin-top: 20px; margin-left: auto; margin-right: auto;
  width: calc(100% - 40px); position: relative;
}
.ico-third-box > div:nth-of-type(4){background: #02a3d5; height: 80px; margin-left: auto; margin-right: auto;
  width: calc(100% - 40px);
}
.ico-third-box .qr-code{width: 95px; height: 95px;
  background: url("../images/QRcod.png") no-repeat; position: absolute; left: 85px; top:50%; transform: translateY(-50%) }
.ico-third-box .qr-code-info-box{white-space: pre-wrap; text-align: center}
/*MODULES AREA*/
section.modules{padding-top:  60px}
section.modules > aside{height: 500px; background: #f4f4f4}
section.modules > aside p{color: #0aa6d6; font-size: 33px; text-align: center; padding-top: 20px}
section.modules > aside:first-of-type{background: white}
section.modules > aside:first-of-type p{color: black}
section iframe{height: calc(100vh - 112px)}

.team-row, .team-row2, .team-row3{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.team-row2, .team-row3{margin-top: 120px}

.team-row >  .team-member:first-of-type{background: url("../images/teams/Артак.png");}
.team-row >  .team-member:nth-of-type(2){background: url("../images/teams/Армен.png");}
.team-row >  .team-member:nth-of-type(3){background: url("../images/teams/Hasmik.png");}

.team-row2 >  .team-member:first-of-type{background: url("../images/teams/Narin.png");}
.team-row2 >  .team-member:nth-of-type(2){background: url("../images/teams/Арут.png");}
.team-row2 >  .team-member:nth-of-type(3){background: url("../images/teams/Ara.png");}

.team-row3 >  .team-member:first-of-type{background: url("../images/teams/Ivan.png");}
.team-row3 >  .team-member:nth-of-type(2){background: url("../images/teams/Edo.png");}
.team-row3 >  .team-member:nth-of-type(3){background: url("../images/teams/Ruzan.png");}

.team-member{
  width: 250px;
  height: 250px;
  position: relative;
}
.team-member-title{bottom: -35px; white-space: nowrap; position: absolute; font-weight: bold; transform: translateX(-50%); left: 50%; font-size: 20px}


/*loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 4s
}

@-webkit-keyframes animatebottom {
  from { bottom:-300px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-300px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  visibility: hidden;
  overflow: auto;
}

@media (min-height: 0px) and (max-height: 1366px){

}


.chart-loader {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-top: 100px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: chart-spin 2s linear infinite;
  animation: chart-spin 2s linear infinite;
}

@-webkit-keyframes chart-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes chart-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
input::placeholder {
  color: #cfcfcf;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cfcfcf;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #cfcfcf;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #cfcfcf;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #cfcfcf;
}
