<section class="home">

  <div class="home-header-content">

    <div>

      <p>
        ccore
      </p>

      <p style="font-family: 'PT Sans Caption'; font-size: 57px; padding-top: 70px;">
        CryptoCurrency
        Innovation
        Exchange
        Platform
      </p>

    </div>

  </div>

  <p>{{"WHAT_IS_CCI" | i18n}}</p>

  <p>CCI – это инновационная биржа криптовалют, которая предлагает каждому участнику рынка индивидуальные
    условия работы с крептовалютами. </p>

  <p>Что такое CCI</p>

  <p>Биржа CCI, кроме основной функции купли-продажи криптовалют, оснащена определенными расширениями.</p>

  <p>CCI</p>

  <div class="quadro-box">
    <div class="quadro-item">
      CryptoCurrency

      Pay
    </div>
    <div class="quadro-item">
      CryptoCurrency

      Data
    </div>
    <div class="quadro-item">
      CryptoCurrency

      Analytics
    </div>
    <div class="quadro-item">
      CryptoCurrency

      News
    </div>

    <div style="clear: both"></div>

    <div class="quadro-center-box">EXCHANGE</div>

  </div>
  <div class="news-data-box">

    <div class="news-data-item">
      <div class="news-data-item-image"></div>
      <div class="news-data-item-title">CC Pay</div>
      <div class="news-data-item-info">
        Данное расширение
        полноценная платежная
        система, которое
        позволяет корпоративным
        клиентам продавать
        товары и услуги
        за криптовалюты,
        интегрируя CC Pay на
        сайт интернет магазина.
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-image"></div>
      <div class="news-data-item-title">CC Data</div>
      <div class="news-data-item-info">
        Расширения,
        предоставляющие
        данные о состоянии
        рынка криптовалют
        в целом и отдельных
        его компонентов.
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-image"></div>
      <div class="news-data-item-title">CC News</div>
      <div class="news-data-item-info">
        Расширения,
        предоставляющие
        последние новости
        о криптовалютах.
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-image"></div>
      <div class="news-data-item-title">CC Analytics</div>
      <div class="news-data-item-info">
        Расширения,
        позволяющие
        идентифицировать
        рыночные тенденции
        и уменьшить риски
        в реальном времени.
      </div>
    </div>
  </div>

  <div class="home-graph-box">
    <p>
      Взаимосвязь CCI с участниками рынка
    </p>

    <div class="home-graph-content"></div>

    <div style="clear: both"></div>

    <div class="home-graph-footer">
      <div class="home-graph-footer-item">
        <h1>CCI - Корпоротивный клиент</h1>
         <div>
           Взаимосвязь CCI и
           корпоративных клиентов
           заключается в следующем:
           корпоративные клиенты
           получают  возможность
           продавать товары и услуги
           за криптовалюты, при
           этом  CCI обеспечивает
           возможность автоматического
           обмена криптовалюты на
           фиатные деньги.
         </div>
      </div>

      <div class="home-graph-footer-item">
        <h1>CCI - Трейдер</h1>
        <div>
          CCI и трейдеры
          взаимосвязаны таким
          образом: CCI, предоставляя
          трейдерам в реальном
          времени последние
          новости и данные
          о состоянии рынка
          криптовалют, обеспечивает
          наиболее благоприятный
          климат для трейдинга.
        </div>
      </div>

      <div class="home-graph-footer-item">
        <h1>CCI - Инвестор</h1>
        <div>
          Департамент аналитики CCI,
          предоставляя аналитическую
          информацию о тенденциях
          рынка криптовалют,
          позволяет инвесторам
          минимизировать
          инвестиционные риски.
          Кроме этого, Департамент
          разрабатывает и предлагает
          инвесторам инвестиционные
          портфели в целях
          диверсификации рисков.
        </div>
      </div>
    </div>
  </div>

  <p style="text-align: center; color: #0aa6d6; font-size: 33px; padding: 100px 0 60px">Наши Разработки</p>

  <div class="home-our-products">
    <div class="home-our-products-item">
      <div>
        CMI 50
      </div>
      <div>
        CCI и трейдеры
        взаимосвязаны таким
        образом: CCI, предоставляя
        трейдерам в реальном
        времени последние
        новости и данные
        о состоянии рынка
        криптовалют.
      </div>
      <div style="position: absolute; bottom: 10px; right: 10px; color: #0aa6d6; font-size: 19px">Перейти</div>
    </div>

    <div class="home-our-products-item">
      <div>
        CMI 50
      </div>
      <div>
        CCI и трейдеры
        взаимосвязаны таким
        образом: CCI, предоставляя
        трейдерам в реальном
        времени последние
        новости и данные
        о состоянии рынка
        криптовалют.
      </div>
      <div style="position: absolute; bottom: 10px; right: 10px; color: #0aa6d6; font-size: 19px">Перейти</div>
    </div>

    <div class="home-our-products-item">
      <div style="font-size: 40px">
        In Developing
      </div>
      <div>

      </div>
    </div>
  </div>

  <div style="background: #f4f4f4;  margin-top: 110px;">
    <p style="text-align: center; color: #0aa6d6; font-size: 33px; padding: 100px 0 60px">Дорожная Карта</p>

    <p style="text-align: center; color: black; font-size: 20px; padding: 0px 0 60px">План развития на следующие 6 месяцев:</p>

    <div>
      <div class="routing-box">
        <div class="routing-box-item" style="top:0px; left: 0px">
          Данное расширение
          полноценная платежная
          система, которое
          позволяет корпоративным
          клиентам продавать
          товары и услуги
        </div>

        <div class="routing-box-item" style="top:144px; right: 0px">
          Расширения,
          предоставляющие
          данные о состоянии
          рынка криптовалют
          в целом и отдельных
          его компонентов.
        </div>

        <div class="routing-box-item" style="top:288px; left: 0px">
          Расширения,
          предоставляющие
          последние новости
          о криптовалютах.
        </div>

        <div class="routing-box-item" style="top:432px; right: 0px">
          Данное расширение
          полноценная платежная
          система, которое
          позволяет корпоративным
          клиентам продавать
          товары и услуги
        </div>
        <div class="routing-box-item" style="top:576px; left: 0px">
          Расширения,
          предоставляющие
          данные о состоянии
          рынка криптовалют
          в целом и отдельных
          его компонентов.
        </div>

        <div class="routing-box-item" style="top:720px; right: 0px">
          Расширения,
          предоставляющие
          последние новости
          о криптовалютах.
        </div>

        <div class="routing-seporator"></div>

      </div>
    </div>
  </div>





  <div class="home-ico-box">

    <p style="text-align: center; color: white; font-size: 33px; padding: 100px 0 60px">CCI Token Sales (ICO)</p>

    <div style="color: white; margin-left: 50px">
      <span style="font-size: 25px; font-weight: bold">Pre-ICO</span>
    </div>
    <div style="color: white; margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Start:</span> <span style="font-size: 19px">01 August 2017</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">End:</span> <span style="font-size: 19px">01 September 2017</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">CCI tokens for distribution:</span> <span style="font-size: 19px">10 000 000 (5 000 ETH)</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Token exchange rate:</span> <span style="font-size: 19px; color: #02a3d5">2000 CCI : 1 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Minimum transaction amount:</span> <span style="font-size: 19px; color: #02a3d5">0.1 ETH</span>
    </div>



    <div style="color: white; margin-left: 50px; margin-top: 60px">
      <span style="font-size: 25px; font-weight: bold">ICO</span>
    </div>
    <div style="color: white; margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Start:</span> <span style="font-size: 19px">05 August 2017</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">End:</span> <span style="font-size: 19px">01 September 2017</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">CCI tokens for distribution:</span> <span style="font-size: 19px">50 000 000 </span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Token exchange rate first week:</span> <span style="font-size: 19px; color: #02a3d5">1500 CCI : 1 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Token exchange rate first week:</span> <span style="font-size: 19px; color: #02a3d5">1500 CCI : 1 ETH</span>
    </div>

    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Token exchange rate after:</span> <span style="font-size: 19px; color: #02a3d5">1000 CCI : 1 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Minimum transaction amount:</span> <span style="font-size: 19px; color: #02a3d5">0.1 ETH</span>
    </div>

    <div style="color: white;margin-left: 50px; margin-top: 60px">
      <span style="font-size: 22px; font-weight: bold">Currency accepted:</span> <span style="font-size: 19px;">ETH ONLY</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Minimum funding goal:</span> <span style="font-size: 19px;">5000 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">Total tokens for distribution:</span> <span style="font-size: 19px;">60 000 000</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 60px">
      <span style="font-size: 22px; font-weight: bold">Total token amount:</span> <span style="font-size: 19px;">100 000 000 CCI tokens</span>
    </div>

    <div style="float: right; margin-right: 100px; background: #02a3d5; text-align: center; line-height: 70px; color: white; font-size: 30px; width: 265px; height: 70px; cursor: pointer">Invest Now</div>

    <div style="clear: both"></div>
    <div id="test-footer" style="color: white; text-align: center; font-size: 18px; margin-top: 80px; padding-bottom: 50px; padding-left: 150px; padding-right: 150px">
      For information, please contact CCI@gmail.com. CCI tokens can be purchased only for ETH. All collected funds shall be
      received and stored on purses with multi-signatures.
    </div>

  </div>


</section>
