<section class="home">

  <div class="home-header-content">

    <div>

      <p style="font-family: ArialRounded; font-size: 60pt">
        ccore
      </p>

      <p style="font-family: 'PT Sans Caption'; font-size: 57px; padding-top: 0px; margin-top: -20px">
        CryptoCurrency
        Innovation
        Platform
      </p>

    </div>

  </div>

  <p>{{"HOME_WHAT_IS_CCORE" | i18n}}</p>

  <p>{{"HOME_WHAT_IS_CCORE_ANSWER" | i18n}}</p>

  <p>{{"HOME_STRUCTURE_OF_CCORE" | i18n}}</p>

  <p>{{"HOME_STRUCTURE_OF_CCORE_ANSWER" | i18n}}</p>

  <div class="home-graph-content" ng-style="{ 'background': 'url(../images/' + $root.language + '-ccore-schema.png' + ') no-repeat center center'}"></div>

  <div class="news-data-box">

    <div class="news-data-item">
      <div class="news-data-item-title">1. {{'HOME_CC_EXCHANGE' | i18n}}</div>
      <div class="news-data-item-info">
        {{'HOME_CC_EXCHANGE_ANSWER' | i18n}}
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-title">2. {{'HOME_CC_WALLET' | i18n}}</div>
      <div class="news-data-item-info">
        {{'HOME_CC_WALLET_ANSWER' | i18n}}
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-title">3. {{'HOME_CC_PAY' | i18n}}</div>
      <div class="news-data-item-info">
        {{'HOME_CC_PAY_ANSWER' | i18n}}
      </div>
    </div>

    <div class="news-data-item">
      <div class="news-data-item-title">4. {{'HOME_CC_INFORMATION' | i18n}}</div>
      <div class="news-data-item-info">
        {{'HOME_CC_INFORMATION_ANSWER' | i18n}}
      </div>
    </div>
  </div>

  <div class="home-graph-box">
    <p>
      {{'HOME_INTER_MARKET_PARTICIPANT' | i18n}}
    </p>

    <div class="home-graph-content" ng-style="{ 'background': 'url(../images/' + $root.language + '-ccore-schema2.png' + ') no-repeat center center'}"></div>

    <div style="clear: both"></div>

    <div class="home-graph-footer">
      <div class="home-graph-footer-item">
        <h1>{{'HOME_CORP_CUSTOMER' | i18n}}</h1>
         <div>
           {{'HOME_CORP_CUSTOMER_ANSWER' | i18n}}
         </div>
      </div>

      <div class="home-graph-footer-item">
        <h1>{{'HOME_CCORE_CUSTOMER' | i18n}}</h1>
        <div>
          {{'HOME_CCORE_CUSTOMER_ANSWER' | i18n}}
        </div>
      </div>

      <div class="home-graph-footer-item">
        <h1>{{'HOME_TRADER_INVESTOR' | i18n}}</h1>
        <div>
          {{'HOME_TRADER_INVESTOR_ANSWER' | i18n}}
          <div style="white-space: pre-line; text-align: left; text-transform: lowercase">
            <span>- {{'DATA' | i18n}}</span>
            <span>- {{'NEWS' | i18n}}</span>
            <span>- {{'ANALYTICS' | i18n}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p style="font-size: 33px; padding-top: 100px; font-weight: normal; color: #0aa6d6">{{"CCMI50" | i18n}}</p>

  <p style="text-align: left; padding-left: 20px">{{"HOME_CMI_DESC" | i18n}}</p>

  <div class="chart-container" style="float: none; margin-left: auto; margin-right: auto">
    <div ng-show="!CurrentIndex" class="chart-loader"></div>
    <div ng-show="CurrentIndex" style="position: absolute; font-weight: bold; font-size: 20px; margin-top: 7px; margin-left: 97px">CMI 50 <span style="font-weight: normal">{{CurrentIndex}}</span></div>
    <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
  </div>
  <a ng-href="#/crypto-currencies" style="display: block; font-size: 19px; text-decoration: underline; color: #0aa6d6; position: absolute; right: 20px; padding-top: 70px;">{{"HOME_LEARN_MORE" | i18n}}</a>
  <div style="clear: both"></div>

  <!--<p style="text-align: center; color: #0aa6d6; font-size: 33px; padding: 100px 0 60px">Наши Разработки</p>

  <div class="home-our-products">
    <div class="home-our-products-item">
      <div>
        CMI 50
      </div>
      <div>
        CCI и трейдеры
        взаимосвязаны таким
        образом: CCI, предоставляя
        трейдерам в реальном
        времени последние
        новости и данные
        о состоянии рынка
        криптовалют.
      </div>
      <div style="position: absolute; bottom: 10px; right: 10px; color: #0aa6d6; font-size: 19px">Перейти</div>
    </div>

    <div class="home-our-products-item">
      <div>
        CMI 50
      </div>
      <div>
        CCI и трейдеры
        взаимосвязаны таким
        образом: CCI, предоставляя
        трейдерам в реальном
        времени последние
        новости и данные
        о состоянии рынка
        криптовалют.
      </div>
      <div style="position: absolute; bottom: 10px; right: 10px; color: #0aa6d6; font-size: 19px">Перейти</div>
    </div>

    <div class="home-our-products-item">
      <div style="font-size: 40px">
        In Developing
      </div>
      <div>

      </div>
    </div>
  </div>-->

  <div style="background: #f4f4f4;  margin-top: 110px;">
    <!--<p style="text-align: center; color: #0aa6d6; font-size: 33px; padding: 100px 0 60px">{{'ROADMAP' |i18n}}</p>-->

    <div class="home-road-map-content" ng-style="{ 'background': 'url(../images/' + $root.language + '-road-map.png' + ') no-repeat center center'}"></div>

    <!--<div>
      <div class="routing-box">
        <div class="routing-box-item" style="top:0px; left: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">{{'AUGUST' |i18n}} 2017</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_CONDUCTION_ICO' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'SITE_OPTIMIZATION' |i18n}}</span>
        </div>

        <div class="routing-box-item" style="top:144px; right: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">{{'SEPTEMBER' |i18n}} 2017</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_REP_OF_TEAM' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_REP_OF_TEAM_ANSWER' |i18n}}</span>
        </div>

        <div class="routing-box-item" style="top:288px; left: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">{{'OCTOBER' |i18n}} 2017</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_TEST_PLATFORM_STARTUP' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_DEV_PAY_INFO' |i18n}}</span>
        </div>

        <div class="routing-box-item" style="top:432px; right: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">{{'NOVEMBER' |i18n}} 2017</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_OFF_STARTUP' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_COMM_STOCK_CHANGE' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_INC_STOCK_CHANGE' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_TEST_PAY_CC' |i18n}}</span>
        </div>
        <div class="routing-box-item" style="top:576px; left: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">{{'DECEMBER' |i18n}} 2017</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_OFFIC_STARTUP_PAY_AND_INFO' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_CONNECTION_ONLINE_STORES' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_DEV_DIVIDENT' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_EXTENSION_SOLID_EXCH' |i18n}}</span>
        </div>

        <div class="routing-box-item" style="top:720px; right: 0px">
          <span style="margin-bottom:20px; padding-bottom: 5px; font-size: 24px; color: #0aa6d6; display: block; border-bottom: 1px dotted #0aa6d6;">2018</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_DEV_NEW_EXTENSIONS' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_PAYMENTS_DIVIDENTS' |i18n}}</span>
          <span style="font-size: 20px; display: block;">. {{'HOME_PROJECT_SCALING' |i18n}}</span>
        </div>

        <div class="routing-seporator"></div>

      </div>
    </div>-->
  </div>





  <div id="home-ico-box" class="home-ico-box">

    <p style="text-align: center; color: white; font-size: 33px; padding: 100px 0 60px">{{'HOME_TOKEN_SALES' | i18n}}</p>

    <div style="color: white; margin-left: 50px">
      <span style="font-size: 25px; font-weight: bold">Pre-ICO</span>
    </div>
    <div style="color: white; margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'START' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'END' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_CCORE_FOR_SALE' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">10 000 000</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_CURRENCY_ACCEPTED' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">BTC, ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_MIN_TRANSACTION' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">1 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px; float: left">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_TOKEN_EXCHANGE_RATE' | i18n}}:</span>
    </div>
    <div style="color: white; margin-left: -20px; margin-top: 8px; float: left; white-space: pre-wrap">
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">{{'FROM' | i18n}} 1 {{'TO' | i18n}} 5ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">{{'FROM' | i18n}} 5 {{'TO' | i18n}} 10ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">{{'FROM' | i18n}} 10 {{'TO' | i18n}} 25ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">{{'FROM' | i18n}} 25 {{'TO' | i18n}} 50ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">{{'MORE_THAN' | i18n}} 50ETH</span>
    </div>

    <div style="color: white; margin-left: 20px; margin-top: 8px; float: left; white-space: pre-wrap">
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">1600 ccore : 1 ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">1800 ccore : 1 ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">2000 ccore : 1 ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">2200 ccore : 1 ETH</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">2500 ccore : 1 ETH</span>
    </div>

    <div style="clear: both"></div>



    <div style="color: white; margin-left: 50px; margin-top: 60px">
      <span style="font-size: 25px; font-weight: bold">ICO</span>
    </div>
    <div style="color: white; margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'START' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'END' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_CCORE_FOR_SALE' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">50 000 000 </span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_CURRENCY_ACCEPTED' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">BTC, ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_MIN_TRANSACTION' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">0.01 ETH</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px;">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_TOKEN_EXCHANGE_RATE' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">1000 ccore : 1 ETH</span>
    </div>

    <div style="color: white;margin-left: 50px; margin-top: 20px; float: left">
      <span style="font-size: 22px; font-weight: bold">{{'BONUS' | i18n}}:</span>
    </div>
    <div style="color: white; margin-left: -20px; margin-top: 8px; float: left; white-space: pre-wrap">
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">40% {{'FIRST_WEEK' | i18n}}</span>
      <span style="font-size: 19px; color: #02a3d5; display: inline-block; padding-bottom: 5px">20% {{'SECOND_WEEK' | i18n}}</span>
    </div>
    <div style="clear: both"></div>

    <div style="color: white;margin-left: 50px; margin-top: 20px">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_TOTAL_TOKEN_AMOUNT' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5"">100 000 000 ccore {{'TOKENS' | i18n}}</span>
    </div>
    <div style="color: white;margin-left: 50px; margin-top: 20px; padding-bottom: 10px; border-bottom: 1px solid #02a3d5">
      <span style="font-size: 22px; font-weight: bold">{{'HOME_TOTAL_TOKEN_DISTRIBUTION' | i18n}}:</span> <span style="font-size: 19px; color: #02a3d5">60 000 000 ccore {{'TOKENS' | i18n}}</span>
    </div>

    <a ui-sref="ico" style="text-decoration: none; float: right; margin-right: 100px; margin-top: 10px; margin-bottom: 20px; background: #02a3d5; text-align: center; line-height: 70px; color: white; font-size: 30px; width: 265px; height: 70px; cursor: pointer">{{'INVEST_NOW' | i18n}}</a>

    <div style="clear: both"></div>
    <div class="our-team">
      <p style="padding-top: 50px; text-align: center; color: #02a3d5">{{'OUR_TEAM' | i18n}}</p>
    </div>

  </div>


</section>
