<div class="ccore-about_ICO" id="home-top">
  <div class="content">
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-left">
        <p class="ccore-about_ICO-header">ICO</p>

        <p>{{'START' | i18n}}: <light>{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</light></p>
        <p>{{'END' | i18n}}: <light>{{'HOME_TOKEN_ANNOUNCED_LATTER2' | i18n}}</light></p>
        <p>{{'HOME_CCORE_FOR_SALE' | i18n}}: <light>6 000 000 CCO</light></p>
        <p>{{'HOME_TOKEN_EXCHANGE_RATE' | i18n}}: <light>1 ETH : 1000 CCO</light></p>
        <p>{{'HOME_CURRENCY_ACCEPTED' | i18n}}: <light>ETH</light></p>
        <p>{{'HOME_MIN_TRANSACTION' | i18n}}: <light>0.1 ETH</light></p>
        <p>{{'BONUS' | i18n}}:</p>
        <p>{{'HOME_TOKEN_ANNOUNCED_LATTER3' | i18n}}: <light>1 ETH : 1500 CCO</light></p>
        <br>
        <br>
        <br>
        <p><span ng-click="GoToById('home-ico-box')" class="ccore-button-white">{{'DETAILS_OF_ICO' | i18n}}</span></p>
      </div>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-right">
        <div class="ccore-about_ICO-form text-center">
          <!--<p class="ccore-header-2-gray">{{'BECOME_INVESTOR' | i18n}}</p>
          <p><gray>{{'CURRENT_RATE' | i18n}} </gray><blue>1ETH : 1200 CCO</blue></p>
          <br>
          <div><input type="number" ng-model="ETHValue.Value" ng-change="ETHChange()" placeholder="min 0.1 ETH"/> <a>ETH</a></div>
          <br>
          <div><input type="number" readonly placeholder="0" ng-model="CCValue.Value" /> <a>CCO</a></div>

          <br>
          <br>
          <div class="ccore-about_ICO-submit text-center">
            <a href="#/ico">{{'INVEST_NOW' | i18n}}</a>
          </div>
          <br>
          <section>
            <a target="_blank" href="https://medium.com/@artaknavoyan/upcoming-ccore-ico-and-how-to-contribute-in-ccore-ico-d30d55bf3c15" style="position: unset;
            background: none;
            font-weight: bold;
            color: #1a85ef;
            width: auto;
            cursor: pointer;
">CCORE ICO Contribution Guide</a>
          </section>-->

          <p style="font-size: 21px; font-weight: bold; margin-top: 120px">CCORE ICO IS CONCLUDED</p>
          <p style="margin-top: 10px; font-size: 18px">Thank you for being a part of our crowdsale</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ccore-parthers">
  <div class="content">
    <div class="ccore-parthers-inner">
      <div class="text-center">
        <p class="ccore-header-1-gray">Ccore In News</p>
        <br>
      </div>

      <div class="partner-box" style="display: flex; flex-wrap: wrap; justify-content: space-around">
        <a href="https://bitcoinwarrior.net/2017/10/ccore-platform-crypto-retail-becomes-reality/" target="_blank" class="partner-item"></a>
        <a href="https://coinidol.com/ccore-platform-crypto-retail-becomes-reality/" target="_blank" class="partner-item"></a>
        <a href="https://www.cryptocoinsnews.com/ccore-platform-crypto-retail-becomes-reality/" target="_blank" class="partner-item"></a>
      </div>
      <!--<div class="ccore-parthers-item">
        <img class="ccore-parthers-item-img1" src="../new/images/bitcoin-warrior.png" />
        <img class="ccore-parthers-item-img2" src="../new/images/bitcoinworrior_hover.png" />
      </div>
      <div class="ccore-parthers-item">
        <img class="ccore-parthers-item-img1" src="../new/images/coiniidol.png" />
        <img class="ccore-parthers-item-img2" src="../new/images/coiniidol_hover.png" />
      </div>
      <div class="ccore-parthers-item">
        <img class="ccore-parthers-item-img1" src="../new/images/cryptocoinnews.png" />
        <img class="ccore-parthers-item-img2" src="../new/images/cryptocoinsnew_hover.png" />
      </div>-->
    </div>
  </div>
</div>
<div class="ccore-what_is">
  <div class="content">
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-left">
        <p class="ccore-header-2"><b>{{"HOME_WHAT_IS_CCORE" | i18n}}</b></p>
        <p>{{"HOME_WHAT_IS_CCORE_ANSWER" | i18n}}</p>
        <p class="ccore-header-2"><b>{{"WHAT_IS_CORE_TOKEN" | i18n}}</b></p>
        <p>{{"WHAT_IS_CORE_TOKEN_ANSWER" | i18n}}</p>
      </div>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-right">
        <div class="videoContainer">
          <iframe style="display: block; height: 300px; margin-left: auto; margin-right: auto" width="539" height="300" src="https://www.youtube.com/embed/jNov2_PlTFw" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="ccore-structure">
  <div class="content">
    <div class="text-center">
      <p class="ccore-header-1-gray">{{"HOME_STRUCTURE_OF_CCORE" | i18n}}</p>
      <br><br>
      <p class="structure-answer">{{"HOME_STRUCTURE_OF_CCORE_ANSWER" | i18n}}<p>
      <br>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-left">
        <img src="new/images/structure-of-ccore.png" />
      </div>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-right">
        <p class="ccore-header-3">1. {{'HOME_CC_EXCHANGE' | i18n}}</p>
        <p>{{'HOME_CC_EXCHANGE_ANSWER' | i18n}}</p>
        <br>
        <p class="ccore-header-3">2. {{'HOME_CC_WALLET' | i18n}}</p>
        <P>{{'HOME_CC_WALLET_ANSWER' | i18n}}</P>
        <br>
        <p class="ccore-header-3">3. {{'HOME_CC_PAY' | i18n}}</p>
        <p>{{'HOME_CC_PAY_ANSWER' | i18n}}</p>
      </div>
    </div>
  </div>
</div>
<div class="ccore-intercommunion">
  <div class="content">
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-left">

        <div class="ccore-header-center-small">
          <p class="ccore-header-1-gray">{{'HOME_INTER_MARKET_PARTICIPANT' | i18n}}</p>
          <br>
          <br>
        </div>
        <div class="small-screen text-center">
          <img src="new/images/ccore-intercommunion.png" class="small-screen"/>
        </div>

        <p class="ccore-header-3">{{'HOME_CORP_CUSTOMER' | i18n}}</p>
        <br style="line-height: 3px;">
        <p>{{'HOME_CORP_CUSTOMER_ANSWER' | i18n}}</p>
        <br style="line-height: 3px;">
        <p class="ccore-header-3">{{'HOME_CCORE_CUSTOMER' | i18n}}</p>
        <br style="line-height: 3px;">
        <p>{{'HOME_CCORE_CUSTOMER_ANSWER' | i18n}}</p>
        <br style="line-height: 3px;">
        <!--<p><green>For details on the work of ccore, see paragraph 1.3. Whiteppaper</green></p>-->
      </div>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-right full-screen">
        <img src="new/images/ccore-intercommunion.png" />
      </div>
    </div>
  </div>
</div>
<div class="ccore-roadmap" id="roadmap">
  <div class="content">
    <div class="text-center">
      <p class="ccore-header-1">{{'ROADMAP' | i18n}}</p>
      <div class="ccore-roadmap-map">
        <div class="ccore-roadmap-map-block ccore-roadmap-map-1">
          <p class="ccore-roadmap-map-h1">{{'NOVEMBER' | i18n}} 2017 </p>
          <br>
          <p>{{'ROADMAP_2' | i18n}}</p>
         <!-- <p>{{'ROADMAP_3' | i18n}}</p>-->
        </div>
        <div class="ccore-roadmap-map-block ccore-roadmap-map-2">
          <p class="ccore-roadmap-map-h1">1 {{'QUARTER' | i18n}} 2018</p><br>
          <p>{{'ROADMAP_7' | i18n}}</p>
          <p>{{'ROADMAP_8' | i18n}}</p>
         <!-- <p>{{'ROADMAP_9' | i18n}}</p>-->
        </div>
        <div class="ccore-roadmap-map-block ccore-roadmap-map-3">
          <p class="ccore-roadmap-map-h1">3 {{'QUARTER' | i18n}} 2018</p><br>
          <p>{{'ROADMAP_13' | i18n}}</p>
          <p>{{'ROADMAP_14' | i18n}}</p>
        </div>
        <div class="ccore-roadmap-map-block ccore-roadmap-map-4">
          <p class="ccore-roadmap-map-h1">{{'OCTOBER' | i18n}} 2017 </p><br>
          <p>{{'ROADMAP_1' | i18n}}</p>
        </div>
        <div class="ccore-roadmap-map-block ccore-roadmap-map-5">
          <p class="ccore-roadmap-map-h1">{{'DECEMBER' | i18n}} 2017</p><br>
          <p>{{'ROADMAP_4' | i18n}}</p>
          <p>{{'ROADMAP_5' | i18n}}</p>
          <!--<p>{{'ROADMAP_6' | i18n}}</p>-->
        </div>
        <div class="ccore-roadmap-map-block ccore-roadmap-map-6">
          <p class="ccore-roadmap-map-h1">2 {{'QUARTER' | i18n}} 2018</p><br>
          <p>{{'ROADMAP_10' | i18n}}</p>
          <p>{{'ROADMAP_11' | i18n}}</p>
          <!--<p>{{'ROADMAP_12' | i18n}}</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ccore-token" id="home-ico-box">
  <div class="content">
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-left">
        <p class="ccore-header-1-gray">{{'HOME_TOKEN_SALES' | i18n}}</p>
        <br>
        <br>
        <p class="ccore-token-h2">ICO</p>
        <p>{{'START' | i18n}}: <light>{{'HOME_TOKEN_ANNOUNCED_LATTER' | i18n}}</light></p>
        <p>{{'END' | i18n}}: <light>{{'HOME_TOKEN_ANNOUNCED_LATTER2' | i18n}}</light></p>
        <p>{{'HOME_CCORE_FOR_SALE' | i18n}}: <light>6 000 000 CCO</light></p>
        <p>{{'HOME_TOKEN_EXCHANGE_RATE' | i18n}}: <light>1 ETH : 1000 CCO</light></p>
        <p>{{'HOME_CURRENCY_ACCEPTED' | i18n}}: <light>ETH</light></p>
        <p>{{'HOME_MIN_TRANSACTION' | i18n}}: <light>0.1 ETH</light></p>
        <p>{{'BONUS' | i18n}}:</p>
        <p>{{'HOME_TOKEN_ANNOUNCED_LATTER3' | i18n}}: <light>1 ETH : 1500 CCO</light></p>
      </div>
    </div>
    <div class="ccore-block-2">
      <div class="ccore-block-2-inner-right">
        <p style="color: #82899e; font-size: 17px; font-style: italic">{{'HOME_TOTAL_TOKEN_AMOUNT' | i18n}}: 10 000 000 CCO</p>
        <ul>
          <li><span>6 000 000 - {{'ON_ICO' | i18n}}</span></li>
          <li><span>2 000 000 - {{'RESERVED_FUND' | i18n}}</span></li>

          <li><span>2 000 000 - {{'DISTRIBUTED_AMONG' | i18n}}</span></li>

          <li><span>All unsold tokens from crowd-sale and team's tokens will be locked away for minimum 2 years.</span></li>
        </ul>
        <br  class="full-screen">

        <p style="display: none" class="small-center"><a href="#/ico" class="ccore-token-button-green">{{'INVEST_NOW' | i18n}}</a></p>
        <br  class="small-screen">
      </div>
    </div>
  </div>
</div>
<div class="ccore-team" id="our-team">
  <div class="content">
    <div class="ccore-team-inner">
      <div class="text-center">
        <p class="ccore-header-1-gray">{{'OUR_TEAM' | i18n}}</p>
        <p><div class="ccore-header-hr"></div></p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/artak-n.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.facebook.com/profile.php?id=100020087680554" target="_blank"><img src="../new/images1/facebook-logo.png"></a>
        </div>
        <p class="ccore-team-item-name">Artak Navoyan</p>
        <p class="ccore-team-item-post">Co Founder, Finance</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/armen.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/armenmardoyan/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Armen Mardoyan</p>
        <p class="ccore-team-item-post">Core Developer</p>

      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/hasmik.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href=""><!--<img src="new/images/facebook-logo.png">--></a>
        </div>
        <p class="ccore-team-item-name">Hasmik Harutyunyan</p>
        <p class="ccore-team-item-post">Content Manager</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/narine.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href=""><!--<img src="new/images/facebook-logo.png">--></a>
        </div>
        <p class="ccore-team-item-name">Narine Tutundjan</p>
        <p class="ccore-team-item-post">Marketing Manager</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/harutyun.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/harutyun-harutyunyan-183b37101/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Harutyun Harutyunyan</p>
        <p class="ccore-team-item-post">QA Engineer</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/ara.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/arasargsyan/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Ara Sargsyan</p>
        <p class="ccore-team-item-post">UI/UX Designer</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/ivan.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/ivanyan-ivan-75449653/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Ivan Ivanyan</p>
        <p class="ccore-team-item-post">Frontend Developer</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/eduard.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/eduard-sargsyan-17390625/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Eduard Sargsyan</p>
        <p class="ccore-team-item-post">Backend Developer</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/ruzan.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href=""><!--<img src="new/images/facebook-logo.png">--></a>
        </div>
        <p class="ccore-team-item-name">Ruzan Safaryan</p>
        <p class="ccore-team-item-post">Community Manager</p>
      </div>
      <div class="ccore-team-item">
        <div class="ccore-team-item-img">
          <img src="new/images/dino.png" />
        </div>
        <div class="ccore-team-item-hover">
          <a href="https://www.linkedin.com/in/dino-pastos-61b4041/" target="_blank"><img src="../new/images1/linkdin.png"></a>
        </div>
        <p class="ccore-team-item-name">Dino Pastos</p>
        <p class="ccore-team-item-post">Advisor</p>
      </div>

      <div class="ccore-team-slick_slider">
        <div class="ccore-team-slick_slider-slider">
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/artak-n.png" />
            </div>
            <p class="ccore-team-item-name">Artak Navoyan</p>
            <p class="ccore-team-item-post">Co Founder</p>
            <p class="ccore-team-item-post"><a href="https://www.facebook.com/profile.php?id=100020087680554" target="_blank"><img src="../new/images1/facebook-logo-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/armen.png" />
            </div>
            <p class="ccore-team-item-name">Armen Mardoyan</p>
            <p class="ccore-team-item-post">Core Developer</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/armenmardoyan/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/hasmik.png" />
            </div>
            <p class="ccore-team-item-name">Hasmik Harutyunyan</p>
            <p class="ccore-team-item-post">Content Manager</p>
            <!--<p class="ccore-team-item-post"><a href=""><img src="../new/images1/facebook-logo-copy.png"></a></p>-->
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/narine.png" />
            </div>
            <p class="ccore-team-item-name">Narine Tutundjan</p>
            <p class="ccore-team-item-post">Marketing Manager</p>
            <!--<p class="ccore-team-item-post"><a href=""><img src="../new/images1/facebook-logo-copy.png"></a></p>-->
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/harutyun.png" />
            </div>
            <p class="ccore-team-item-name">Harutyun Harutyunyan</p>
            <p class="ccore-team-item-post">QA Engineer</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/harutyun-harutyunyan-183b37101/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/ara.png" />
            </div>
            <p class="ccore-team-item-name">Ara Sargsyan</p>
            <p class="ccore-team-item-post">UI/UX Designer</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/arasargsyan/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/ivan.png" />
            </div>
            <p class="ccore-team-item-name">Ivan Ivanyan</p>
            <p class="ccore-team-item-post">Frontend Developer</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/ivanyan-ivan-75449653/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/eduard.png" />
            </div>
            <p class="ccore-team-item-name">Eduard Sargsyan</p>
            <p class="ccore-team-item-post">Backend Developer</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/eduard-sargsyan-17390625/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/ruzan.png" />
            </div>
            <p class="ccore-team-item-name">Ruzan Safaryan</p>
            <p class="ccore-team-item-post">Community Manager</p>
            <!--<p class="ccore-team-item-post"><a href=""><img src="../new/images1/facebook-logo-copy.png"></a></p>-->
          </div>
          <div class="ccore-team-item">
            <div class="ccore-team-item-img">
              <img src="new/images/dino.png" />
            </div>
            <p class="ccore-team-item-name">Dino Pastos</p>
            <p class="ccore-team-item-post">Advisor</p>
            <p class="ccore-team-item-post"><a href="https://www.linkedin.com/in/dino-pastos-61b4041/" target="_blank"><img src="../new/images1/linkdin-copy.png"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ccore-footer">
  <div class="content">
    <div class="ccore-footer-inner">
      <div class="ccore-footer-item-1 ccore-footer-form">
        <p class="ccore-footer-logo"><img src="new/images/footer-logo.png" /></p>
        <!--<p class="ccore-footer-year"><img src="new/images/group-25.png" /></p>-->
        <ul>
          <li><a href="https://bitcointalk.org/index.php?topic=2100088.msg20989987#msg20989987" target="_blank"><img src="new/images/bitcoin.png" /></a></li>
          <li><a href="https://twitter.com/ccore_io" target="_blank"><img src="new/images/twitter.png" /></a></li>
          <li><a href="https://www.facebook.com/ccore-1738685606430588/" target="_blank"><img src="new/images/fb.png" /></a></li>
          <li><a href="https://t.me/ccore_io" target="_blank"><img src="new/images/t-g.png" /></a></li>
          <li><a href="https://www.reddit.com/user/ccore_io/posts/" target="_blank"><img src="../new/images/reddit.png" /></a></li>
          <li><a href="https://t.me/ccore_news" target="_blank"><img src="new/images/t-g.png" /></a></li>
        </ul>
        <form action="" method="post" class="small-screen" style="visibility: hidden">
          <input type="text" placeholder="Enter Your Email Address" value=""/>
          <button type="submit">Subscribe for news</button>
        </form>
      </div>
      <div class="ccore-footer-item-2">
        <p><a ng-href="{{WalletHref}}">cWallet</a></p>
        <p><a href="" ng-click="Comming()">Try Demo</a></p>
        <p><a href="" ng-click="GoToById('home-top')">ICO</a></p>
      </div>
      <div class="ccore-footer-item-2">
        <p><a style="text-transform: capitalize" ng-href="{{Whitepaper}}" target="_blank">Whitepaper</a></p>
        <p><a style="cursor: pointer" ng-click="GoToById('our-team')">The team</a></p>
        <p><a ng-click="GoToRoadMap()" >{{'ROADMAP' | i18n}}</a></p>
      </div>
      <div class="ccore-footer-item-3 ccore-footer-form">
        <p>Contact Us:</p>
        <p><span>info@ccore.io</span></p>
        <form name="form" class="full-screen" style="visibility: hidden">
          <input type="email" ng-model="Email.text" placeholder="Enter Your Email Address"/>
          <button ng-click="AddEmail(form)">Subscribe for news</button>
        </form>
      </div>
    </div>
    <!--<div class="ccore-footer-online">
      <div class="ccore-footer-online-1">
        <div class="ccore-footer-online-2">
          <p class="">We are online!</p>
          <span>^</span>
        </div>
      </div>
    </div>-->
  </div>
</div>
