<style>
  .ccore-time{
    display: none!important;
  }
</style>
<div class="ccore-terms" ng-if="State != 2">
  <div class="content ccore-terms-content">
    <div class="text-center">
      <p class="ccore-header-1-gray">TERMS AND CONDITIONS</p>
      <br>
      <br>
      <p>For users acquiring the Ccoin Tokens</p>
    </div>
    <br>
    <br>
    <br>
    <p>Ccoin smart contract is a software deployed and working on the decentralized distributed Ethereum blockchain. Ccoin tokens are partart of the software and ensure its interaction with the Network. By using smart contract, including its tokens you expressly acknowledge and represent that you have carefully reviewed and accepted this agreement between you as a User and ccore.io.</p>
    <br>
    <p>Ccoin token smart contract address will be published in due time prior to Ccoin token distribution.</p>
    <br>
    <p>Ccoin token carry no rights, express or implied, other than those set out herein. </p>
    <br>
    <p>Ccoin tokens are designed to be exchangeable on cryptographic token exchanges. Ccoin gives no warranties that Ccoin tokens will be exchangeable on such exchanges, but undertakes on a best effort basis to do everything that is reasonable possible and within the powers of Ccoin to enable exchange of Ccoin tokens on as many exchanges as possible.</p>
    <br>
    <br>
    <p class="ccore-header-4">Variations</p>
    <br>
    <br>
    <p>We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are binding on you.</p>
    <br>
    <br>
    <br>
    <p class="ccore-header-4">Liability</p>
    <br>
    <br>
    <p>
      The material displayed on this Site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, other members of our group and third parties connected to us hereby expressly exclude: All conditions, warranties and other terms which might otherwise be implied by law. Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with the Site or in connection with the use, inability to use, or results or the use of this Site, any websites linked to it and any materials posted on it, including, without limitation any liability for: </p>
    <br>
    <p>Loss of income or revenue;</p>
    <br>
    <p>Loss of business;</p>
    <br>
    <p>Loss of profits or contracts;</p>
    <br>
    <p>Loss of anticipated savings;</p>
    <br>
    <p>Loss of data; Loss of goodwill;</p>
    <br>
    <p>Wasted management or office time;</p>
    <br>
    <p>and for any other loss or damage of any kind.</p>
    <br>
    <br>
    <p class="ccore-header-4">Ccoin token structure and pertaining holders rights</p>
    <br>
    <br>
    <br>
    <p>Ccoin smart contract is a software deployed and working on the decentralized distributed Ethereum blockchain. Ccoin tokens are partart of the software and ensure its interaction with the Network. By using smart contract, including its tokens you expressly acknowledge and represent that you have carefully reviewed and accepted this agreement between you as a User and ccore.io.</p>
    <br>
    <p>Ccoin token smart contract address will be published in due time prior to Ccoin token distribution.</p>
    <br>
    <p>Ccoin token carry no rights, express or implied, other than those set out herein.</p>
    <br>
    <p>Ccoin tokens are designed to be exchangeable on cryptographic token exchanges. Ccoin gives no warranties that Ccoin tokens will be exchangeable on such exchanges, but undertakes on a best effort basis to do everything that is reasonable possible and within the powers of Ccoin to enable exchange of Ccoin tokens on as many exchanges as possible.</p>
    <br>
    <br>
    <p class="ccore-header-4">Information about you and your visits to our site</p>
    <br>
    <br>
    <p>We process information about you in accordance with our Privacy Policy. By using this Site, you consent to such processing and you warrant that all data provided by you is accurate.</p>
    <br>
    <br>
    <p class="ccore-header-4">Risks</p>
    <br>
    <br>
    <p>You understand that Digital Assets, Ccoin token, blockchain technology, Ethereum, Ether and other associated and related technologies are new and relatively untested and outside of Ccoin's exclusive control and any adverse changes in market forces or the technology impacting Ccoin's performance under this Agreement shall absolve Ccoin from responsibility over any delayed or unachieved milestones. You also acknowledge that you have been warned of the following risks, associated with the Website, the Digital Assets, the Ccoin tokens, the Platform and other relevant technologies mentioned herein, and that you absolve Ccoin from any and all responsibility on any damages occurring in light of the risks listed below.</p>
    <br>
    <br>
    <div class="text-center">
      <p class="ccore-header-1-gray">Warranty Given By User</p>
    </div>
    <br>
    <br>
    <p><b>ALL PARTICIPANTS AND USERS HEREBY EXPRESSLY AFFIRM THAT THEY ARE:</b></p>
    <br>
    <p>a) NOT an individual who is a resident of the United States of America, its territories or possessions, any state of the United States of America or the District of Columbia (the "USA");</p>
    <br>
    <p>b) NOT a corporation, partnership or other legal entity formed under the laws of the USA;</p>
    <br>
    <p>c) NOT an agency, branch or office located in the USA of a corporation, partnership or other legal entity that was formed under laws other than those of the USA;</p>
    <br>
    <p>d) NOT a trust of which any trustee is described in (a), (b) or (c) above;</p>
    <br>
    <p>e) NOT a legal entity the shares of which are not publicly traded on a securities exchange, and (ii) more than 45% of the shares of which are owned by or for the benefit of an individual or entity described in (a), (b), (c) or (d) above;</p>
    <br>
    <p>f) NOT a member of any branch of the military of the USA; and</p>
    <br>
    <p>g) NOT an agent or a fiduciary acting on behalf or for the benefit of an individual or entity described in (a), (b), (c), (d), (e) or j(f) above.</p>

    <br>
    <p>
      <b>THE USER(S)' DECISION TO SUBSCRIBE TO Ccoin TOKENS WAS:</b></p>
    <br>
    <p>a) NOT based, at least in part, on information received or communications exchanged while the user, or the person providing the information or with whom the communication was exchanged, was within the USA;</p>
    <br>
    <p>b) NOT made inside the USA; and</p>
    <br>
    <p>c) NOT communicated to Ccoin from a source within the USA.</p>

    <br>
    <p><b>THE USER(S)' PURCHASE OF Ccoin TOKENS WAS:</b></p>
    <br>
    <p>(a) made on his/her own account as principal;</p>
    <br>
    <p>(b) NOT made in anticipation of a further distribution of the Ccoin Tokens to others; and</p>
    <br>
    <p>(c) NOT preceded, and will not be followed within 2 days from the Closing Time, by any effort to create or condition a market for the Ccoin Tokens in the USA.</p>
    <br>
    <br>
    <div class="text-center">
      <p class="ccore-terms-gray">I, as the User, have read and understood the above representations as well as the full Terms & Conditions of this Agreement.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="ccore-terms-agreement">
    <div class="ccore-terms-agreement-first">
      <div class="content">
        <p>
          <label class="ccore-terms-agreement-check_label">
            <input type="checkbox" ng-model="TermsChecked.Value"/>
            <span></span>
          </label>
          &nbsp;
          I agree to the terms and conditions and confirm that I am not a citizen of the USA</p>
      </div>
    </div>
    <div class="ccore-terms-agreement-second">
      <div class="content">
					<a href="#/home" class="ccore-terms-agreement-back">
						&#8592; {{'BACK' | i18n}}
					</a>
          <a ng-click="ChangeState(2)" ng-class="{'disabledbutton': TermsChecked.Value}" class="ccore-terms-agreement-next">
            {{'NEXT' | i18n}} &#8594;
					</a>
      </div>
    </div>
  </div>
</div>

<div ng-if="State == 2">
  <div class="ccore-terms-2 padiing-top-50">
    <div class="content">

      <div class="text-center">
        <p class="ccore-header-1-gray">Send ETH to the crowdsale address below.</p>
        <br>
      </div>
      <br>
      <p class="ccore-header-3">IMPORTANT</p>
      <br>
      <p>DO NOT send funds from exchanges like Coinbase, Poloniex etc. You have to send ETH funds from your personal Ethereum wallets like MyEtherWallet, Metamask, Parity, Mist or Ledger (hardware wallet)</p>
      <br>
      <p>Set Gas Limit to 250 000 (during high-load network)</p>
      <br>
      <p>Set the gas price at 50 GWEI (during high-load network)</p>
      <br>
      <p>Ccoin tokens will be sent to the wallet from which the ETH arrived</p>
      <br>
    </div>
  </div>

  <div class="content">
    <div class="ccore-terms-2-qr">
      <div class="ccore-terms-2-qr-inner">
        <img src="new/images/qr.jpg" /> <p id="address-value" style="width: auto; font-weight: bold">0xCFe66A7339bd08469bB2Fc6ab4CAED4C022Fc6ac</p>
        <button style="float: left; margin-top: 39px" ng-click="CopyData()" class="copy-button" data-clipboard-target="#address-value" data-clipboard-action="copy">Copy</button>
      </div>
    </div>
  </div>

  <div class="ccore-terms-2">
    <div class="content">
      <div class="ccore-terms-2-links">
        <div class="ccore-block-2 ccore-terms-2-links-1">
          <a target="_blank" href="../HowToSee.pdf">{{'HOW_SEE_CCI' | i18n}}</a>
        </div>
        <div class="ccore-block-2 ccore-terms-2-links-2">
          <a target="_blank" href="../HowToContribut.pdf">{{'HOW_SEND_ETH' | i18n}}</a>
        </div>
      </div>
    </div>
  </div>
</div>






